@import url(https://db.onlinewebfonts.com/c/c7988a4e3e8cc0b7152a121298699ed0?family=M+Ying+Hei+PRC+W48+W4);
@import url(https://db.onlinewebfonts.com/c/66ed02d44e0af19a191882449be2146b?family=Minion+Pro+Italic);

img {
  max-width: 100%;
}

.desktophero {
  display: none;
}
.navnelogo img {
  width: 130px;
}

.herobilledeforside {
  padding-bottom: 60px;
}

.menu {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #002aff;
  list-style-type: none;
  margin: 0 15px;
}

.lilleommig {
  background-color: rgb(238, 238, 238);
  padding-top: 100px;
}

.lilleommig h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #1035eb;
  list-style-type: none;
  margin: 0 15px;
  text-align: center;
  padding-bottom: 20px;
}

.lilleommig p {
  font-family: "M Ying Hei PRC W48 W4";
  font-size: 12px;
  color: #1035eb;
  margin: 0 15px;
  line-height: 1.8;
  text-align: center;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.lilleommig img {
  width: 200px;
}

.billedecontainer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.mitarbejde {
  padding-top: 80px;
}

.temaliste {
  display: flex;
  justify-content: flex-end;
  padding-right: 45px;
  margin-bottom: 100px;
}

.mitarbejde h2 {
  font-family: "Minion Pro Italic";
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
  color: #1035eb;
  padding-left: 30px;
}

dl {
  color: #002aff;
  font-family: "Helvetica Neue", sans-serif;
  padding-top: 20px;
  width: 300px;
}

dl a {
  text-decoration: none;
  color: #002aff;
}

dt {
  font-weight: 200;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 35px;
}

dd {
  font-size: 20px;
}

.forsidefooter {
  background-color: #193ffc;
  text-decoration: none;
  color: white;
}

.forsidefooter p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 30px;
  padding-bottom: 15px;
}

.forsidefooter h2 {
  font-family: "Minion Pro Italic";
  font-weight: normal;
  font-size: 20px;
  padding-left: 30px;
}

.footertekst {
  padding: 30px;
}

.some a {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  padding: 5px;
}

.some {
  display: flex;
  justify-content: flex-end;
  padding: 50px;
  padding-bottom: 100px;
}

@media (width> 800px) {
  .mobileonly {
    display: none;
  }
  .mobilhero {
    display: none;
  }

  .desktophero {
    display: block;
  }

  .desktophero {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
  }

  .lilleommig p {
    font-family: "M Ying Hei PRC W48 W4";
    font-size: 15px;
    color: #1035eb;
    line-height: 1.8;
    text-align: center;
    padding: 20px;
    width: 600px;
    margin: auto;
  }

  .lilleommig img {
    width: 350px;
  }

  .mitarbejde {
    padding-top: 80px;
  }

  .temaliste {
    display: flex;
    justify-content: flex-end;
    padding-right: 45px;
    margin-bottom: 100px;
  }

  .mitarbejde h2 {
    font-family: "Minion Pro Italic";
    font-size: 30px;
    text-decoration: none;
    font-weight: 100;
    color: #1035eb;
    padding-left: 70px;
  }

  dl {
    color: #002aff;
    font-family: "Helvetica Neue", sans-serif;
    padding-right: 200px;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    width: fit-content;
  }

  dl a {
    text-decoration: none;
    color: #002aff;
  }

  dt {
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 35px;
  }

  dd {
    font-size: 30px;
    font-weight: 400;
    padding: 30px 0px;
  }

  /*footer*/
  .forsidefooter {
    background-color: #193ffc;
    text-decoration: none;
    color: white;
  }

  .forsidefooter p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 30px;
    padding-bottom: 15px;
  }

  .forsidefooter h2 {
    font-family: "Minion Pro Italic";
    font-weight: normal;
    font-size: 30px;
    padding-left: 30px;
  }

  .footertekst {
    padding: 60px;
  }

  .some a {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 25px;
  }

  .some {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    padding-right: 200px;
    padding-bottom: 60px;
  }
}
